<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animal12</key>
	<dict>
		<key>動物名</key>
		<string>RaccoonDog</string>
		<key>タイプ</key>
		<integer>1</integer>
		<key>未来展望型</key>
		<false/>
		<key>右脳派</key>
		<false/>
		<key>目標志向型</key>
		<false/>
	</dict>
	<key>animal11</key>
	<dict>
		<key>動物名</key>
		<string>Tiger</string>
		<key>タイプ</key>
		<integer>2</integer>
		<key>未来展望型</key>
		<false/>
		<key>右脳派</key>
		<false/>
		<key>目標志向型</key>
		<true/>
	</dict>
	<key>animal10</key>
	<dict>
		<key>動物名</key>
		<string>Lion</string>
		<key>タイプ</key>
		<integer>3</integer>
		<key>未来展望型</key>
		<false/>
		<key>右脳派</key>
		<false/>
		<key>目標志向型</key>
		<false/>
	</dict>
	<key>animal9</key>
	<dict>
		<key>動物名</key>
		<string>BlackPanther</string>
		<key>タイプ</key>
		<integer>1</integer>
		<key>未来展望型</key>
		<true/>
		<key>右脳派</key>
		<false/>
		<key>目標志向型</key>
		<true/>
	</dict>
	<key>animal8</key>
	<dict>
		<key>動物名</key>
		<string>Cheetah</string>
		<key>タイプ</key>
		<integer>3</integer>
		<key>未来展望型</key>
		<true/>
		<key>右脳派</key>
		<false/>
		<key>目標志向型</key>
		<false/>
	</dict>
	<key>animal7</key>
	<dict>
		<key>動物名</key>
		<string>Monkey</string>
		<key>タイプ</key>
		<integer>2</integer>
		<key>未来展望型</key>
		<true/>
		<key>右脳派</key>
		<false/>
		<key>目標志向型</key>
		<true/>
	</dict>
	<key>animal6</key>
	<dict>
		<key>動物名</key>
		<string>Fawn</string>
		<key>タイプ</key>
		<integer>1</integer>
		<key>未来展望型</key>
		<true/>
		<key>右脳派</key>
		<true/>
		<key>目標志向型</key>
		<false/>
	</dict>
	<key>animal5</key>
	<dict>
		<key>動物名</key>
		<string>Wolf</string>
		<key>タイプ</key>
		<integer>2</integer>
		<key>未来展望型</key>
		<true/>
		<key>右脳派</key>
		<true/>
		<key>目標志向型</key>
		<true/>
	</dict>
	<key>animal4</key>
	<dict>
		<key>動物名</key>
		<string>Pegasus</string>
		<key>タイプ</key>
		<integer>3</integer>
		<key>未来展望型</key>
		<true/>
		<key>右脳派</key>
		<true/>
		<key>目標志向型</key>
		<false/>
	</dict>
	<key>animal3</key>
	<dict>
		<key>動物名</key>
		<string>Sheep</string>
		<key>タイプ</key>
		<integer>1</integer>
		<key>未来展望型</key>
		<false/>
		<key>右脳派</key>
		<true/>
		<key>目標志向型</key>
		<true/>
	</dict>
	<key>animal2</key>
	<dict>
		<key>動物名</key>
		<string>Elephant</string>
		<key>タイプ</key>
		<integer>3</integer>
		<key>未来展望型</key>
		<false/>
		<key>右脳派</key>
		<true/>
		<key>目標志向型</key>
		<false/>
	</dict>
	<key>animal1</key>
	<dict>
		<key>動物名</key>
		<string>Koala</string>
		<key>タイプ</key>
		<integer>2</integer>
		<key>未来展望型</key>
		<false/>
		<key>右脳派</key>
		<true/>
		<key>目標志向型</key>
		<true/>
	</dict>
</dict>
</plist>
